<manifest identifier="{{id}}">
  <organizations default="ORG">
    <organization identifier="ORG">
      <title>{{title}}</title>
      <item identifier="ITEM" identifierref="RES">
        <title>{{title}}</title>
      </item>
    </organization>
  </organizations>

  <resources>
    <resource identifier="RES"
      type="webcontent"
      href="{{launch}">
    </resource>
  </resources>
</manifest>
